@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
  min-height: 2.5rem;
  min-width: 2.5rem;
  @apply inline-block px-3 py-1 rounded text-sm transition-colors border border-transparent;
}

.button.primary {
  @apply bg-blue-600 text-white hover:bg-blue-400;
}

.button.secondary {
  @apply hover:border-blue-600 hover:bg-blue-50 bg-gray-100;
}

.button.lg {
  @apply text-lg;
}

.button.sm {
  @apply text-xs px-2 py-1;
}

/* debug html rendering */
.rendered-rich-text p {
  @apply mb-2;
}

.rendered-rich-text ol {
  @apply pl-5 list-decimal;
}

.rendered-rich-text ul {
  @apply pl-5 list-disc;
}

.rendered-rich-text a {
  @apply text-blue-500 hover:text-blue-400 underline;
}

.rendered-rich-text [data-type="custom-format"] {
  @apply inline-block bg-blue-300;
}

.rendered-rich-text [data-bold="true"] {
  @apply font-bold;
}

.rendered-rich-text [data-italic="true"] {
  @apply italic;
}

.rendered-rich-text [data-underline="true"] {
  @apply underline;
}

.rendered-rich-text h1 {
  @apply text-2xl font-medium leading-5 mb-4 first:mt-0 mt-8;
}

.rendered-rich-text h2 {
  @apply text-xl font-semibold mb-2 first:mt-0 mt-6;
}

.rendered-rich-text blockquote {
  @apply border-l-4 border-gray-400 pl-2 m-2 italic text-gray-700;
}

.spancer {
  
  letter-spacing: -2px;
  @apply bg-blue-300
}
